doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'

        types:
            project_metadata: App\Shared\Infrastructure\Dbal\Types\ProjectMetadataType

    orm:
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        auto_mapping: true
        mappings:
            Analytics:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Analytics/Domain'
                prefix: 'App\Analytics\Domain'
            Experience:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Experience/Domain/Entity'
                prefix: 'App\Experience\Domain\Entity'
            Settings:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Settings/Domain/Entity'
                prefix: 'App\Settings\Domain\Entity'
            Shared:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Shared/Domain'
                prefix: 'App\Shared\Domain'
            User:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/User/Domain/Entity'
                prefix: 'App\User\Domain\Entity'

when@test:
    doctrine:
        dbal:
            logging: false
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
