includes:
	- phpstan-baseline.neon

parameters:
	symfony:
		containerXmlPath: var/cache/dev/App_Shared_Infrastructure_KernelDevDebugContainer.xml

	doctrine:
		objectManagerLoader: tests/object-manager.php

	scanDirectories:
	    - var/cache/dev/Symfony/Config

	scanFiles:
		- vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
		- vendor/twig/twig/src/Extension/CoreExtension.php

	paths:
		- src

	fileExtensions:
		- php

	level: 8
