includes:
	- phpstan-baseline.neon

parameters:
	symfony:
		containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

	doctrine:
		objectManagerLoader: tests/object-manager.php

	scanFiles:
		- vendor/twig/twig/src/Extension/CoreExtension.php

	paths:
		- src

	fileExtensions:
		- php

	level: 9

	checkGenericClassInNonGenericObjectType: false
