{%- set classes = html_classes(
    'group/card-header @container/card-header gap-1 rounded-t-xl px-4 [.border-b]:pb-4 grid auto-rows-min items-start has-data-[slot=card-action]:grid-cols-[1fr_auto] has-data-[slot=card-description]:grid-rows-[auto_auto]',
    'group-data-[size=sm]/card:px-3 group-data-[size=sm]/card:[.border-b]:pb-3',
    'group-data-[size=lg]/card:px-6 group-data-[size=lg]/card:[.border-b]:pb-6',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="card-header"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
