{%- set classes = html_classes(
    'col-start-2 row-span-2 row-start-1 self-start justify-self-end',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="card-action"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
