{%- set classes = html_classes(
    'px-4',
    'group-data-[size=sm]/card:px-3',
    'group-data-[size=lg]/card:px-6',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="card-content"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
