{%- set classes = html_classes(
    'px-6',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="card-content"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
