{%- set classes = html_classes(
    'leading-none font-semibold',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="card-title"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
