{%- set classes = html_classes(
    'rounded-b-md p-4 flex items-center',
    'group-data-[size=sm]/card:p-3 group-data-[size=lg]/card:p-6 group-data-[variant=outline]/card:bg-muted/50 group-data-[variant=outline]/card:border-t',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="card-footer"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
