<div {{ attributes.defaults({
    'data-slot': 'card-header',
    class: 'grid auto-rows-min grid-rows-[auto_auto] items-start gap-1.5 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6',
}) }}>
    {% block content %}{% endblock %}
</div>
