{%- props align = 'left' -%}

{%- set style = html_cva(
    base: 'p-4 align-middle whitespace-nowrap [&:has([role=checkbox])]:pr-0',
    variants: {
        align: {
            left: 'text-left',
            center: 'text-center',
            right: 'text-right',
        },
    },
) -%}

{#- Template -#}

<td
    data-slot="table-cell"
    class="{{ style.apply({align: align}, attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</td>
