{%- set classes = html_classes(
    'group/sidebar-wrapper has-data-[variant=inset]:bg-sidebar flex min-h-svh w-full',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="sidebar-wrapper"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
