{%- set classes = html_classes(
    'no-scrollbar gap-0 flex min-h-0 flex-1 flex-col overflow-auto group-data-[collapsible=icon]:overflow-hidden',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="sidebar-content"
    data-sidebar="content"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
