{% extends 'admin/admin_base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block meta_title %}{{ 'crud.list.title'|trans({entity_name: entity_name}) }} | {{ parent() }}{% endblock %}

{% block main %}
    <section class="bg-gray-800 rounded-lg p-8">
        <div class="relative overflow-hidden">
            <div
                class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 py-4">
                <div class="w-full md:w-1/2">
                    <form class="flex items-center">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                     fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <input type="text" id="simple-search"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                   placeholder="Search" required="">
                        </div>
                    </form>
                </div>
                <div
                    class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                    {% block toolbar %}{% endblock %}
                </div>
            </div>
            {% if entities is not empty %}
                <div class="overflow-x-auto">
                    <table class="w-full text-sm text-left text-gray-400">
                        <thead
                            class="text-xs text-gray-400 uppercase bg-gray-700">{% block thead %}{% endblock %}</thead>
                        <tbody>{% block tbody %}{% endblock %}</tbody>
                    </table>
                </div>
                {{ component('pagination:pagination', {
                    pagination: entities
                }) }}
            {% else %}
                <div class="w-full py-8 px-4 mx-auto text-center">
                    <h3 class="mb-4 text-2xl font-bold tracking-tight leading-none text-white lg:mb-6 md:text-3xl xl:text-4xl">{{ 'records.not_found'|trans }}</h3>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
