{% extends 'admin/admin_base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block meta_title %}{{ 'crud.new.title'|trans({entity_name: entity_name}) }} | {{ parent() }}{% endblock %}

{% block main %}
    <section class="bg-gray-800 rounded-lg p-8 max-w-xl">
        {% block form %}{% endblock %}
    </section>
{% endblock %}
