{% props number = '01' %}

{%- set classes = html_classes(
    'flex space-x-6',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="faq"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    <span class="font-normal text-gray-700 text-3xl md:text-4xl">{{ number }}</span>
    <span class="w-14 h-0.5 bg-gray-300 mt-5"></span>
    <div>
        {% block content %}{% endblock %}
    </div>
</div>
