{%- set classes = html_classes(
    'font-normal text-muted-foreground text-sm md:text-base leading-loose',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<p
    data-slot="faq-description"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</p>
