{%- set classes = html_classes(
    'relative pl-12 lg:pl-0 lg:col-span-2',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="timeline-content"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
