{%- set classes = html_classes(
    'group/timeline-item grid grid-cols-1 gap-6 lg:grid-cols-3',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="timeline-item"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
