{%- set classes = html_classes(
    'absolute -top-1 left-0 size-9 -translate-x-1/2 rounded-full bg-[#eab308] text-primary-foreground flex items-center justify-center lg:top-4 lg:left-[calc(100%-(--spacing(8)))]',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="timeline-icon"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
