{%- set classes = html_classes(
    'relative pl-12 lg:pl-0 lg:pr-20 lg:pt-6',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="timeline-date"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
