{%- props variant = 'default', -%}

{%- set style = html_cva(
    base: 'absolute -top-1 left-0 size-9 -translate-x-1/2 rounded-full flex items-center justify-center lg:top-4 lg:left-[calc(100%-(--spacing(8)))]',
    variants: {
        variant: {
            default: 'bg-jade-3 text-primary-foreground',
            secondary: 'bg-jade-1 text-primary-foreground',
        },
    },
) -%}

{#- Template -#}

<div
    data-slot="timeline-icon"
    class="{{ style.apply({variant: variant}, attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
