{%- props variant = 'default' -%}

{%- set style = html_cva(
    base: html_classes(
        'inline-flex items-center justify-center rounded-md border px-2 py-0.5 text-xs font-medium w-fit whitespace-nowrap shrink-0 gap-1 transition-[color,box-shadow] overflow-hidden',
        'focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px]',
        "[&>svg]:pointer-events-none [&>svg:not([class*='size-'])]:size-3",
    ),
    variants: {
        variant: {
            default: 'border-transparent bg-primary text-primary-foreground',
            secondary: 'border-transparent bg-secondary text-secondary-foreground',
            destructive: 'border-transparent bg-destructive text-white focus-visible:ring-destructive/20',
            outline: 'text-foreground [a&]:hover:bg-accent [a&]:hover:text-accent-foreground',
        },
    },
) -%}

{#- Template -#}

<span
    data-slot="badge"
    class="{{ style.apply({variant: variant}, attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</span>
