{%- props variant = 'default', size = 'default', -%}

{%- set ctx = html_cva(
    base: "inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition ease-linear duration-500 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none",
    variants: {
        variant: {
            default: 'bg-gray-900 text-white shadow-xs hover:bg-gray-900/90',
        },
        size: {
            default: 'h-9 px-4 py-2 has-[>svg]:px-3',
        },
    },
) -%}

<button {{ attributes.defaults({class: ctx.apply({size: size, variant: variant})}) }}>
    {%- block content %}{% endblock -%}
</button>
