{%- set classes = html_classes(
    'absolute top-2 right-2',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<div
    data-slot="alert-action"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
