{%- props variant = 'default' -%}

{%- set ctx = html_cva(
    base: "grid gap-0.5 rounded-md border px-2.5 py-2 text-left text-sm has-data-[slot=alert-action]:relative has-data-[slot=alert-action]:pr-18 has-[>svg]:grid-cols-[auto_1fr] has-[>svg]:gap-x-2 *:[svg]:row-span-2 *:[svg]:translate-y-0.5 *:[svg]:text-current *:[svg:not([class*='size-'])]:size-4 w-full relative group/alert",
    variants: {
        variant: {
            default: 'bg-card text-card-foreground',
            error: 'bg-destructive/10 text-destructive border-destructive/10',
            success: 'bg-success/10 text-success border-success/10',
        },
    },
) -%}

{#- Template -#}

<div
    data-slot="alert"
    role="alert"
    class="{{ ctx.apply({variant: variant}) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
