{%- set classes = [
    'flex p-4 mb-4 text-sm border rounded-lg',
    alert.status.classes
] -%}

{#
    Template
#}

<div {{ attributes.defaults({class: classes|join(' ')}) }} role="alert">
    {{- alert.message|trans -}}
</div>
