{%- set classes = [
    'flex p-4 mb-4 text-sm border rounded-lg bg-gray-800',
    alert.status.color
] -%}

{#
    Template
#}

<div {{ attributes.defaults({class: classes|join(' ')}) }} role="alert">
    {{- alert.message|trans -}}
</div>
