<nav{{ attributes.defaults({class: 'flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4'}) }}>
    <span class="text-sm font-normal text-gray-400">
        {{- 'pagination.total_items'|trans({itemCount: pagination.totalItemCount, pageCount: pagination.pageCount})|raw -}}
    </span>
    {{ knp_pagination_render(pagination) }}
</nav>
