{% extends 'base.html.twig' %}

{% block title %}
    {{ 'blog.title'|trans }} | {{ parent() }}
{% endblock %}

{% block body %}
    {% for post in posts %}
        {% include 'website/blog/_post_short.html.twig' %}
    {% endfor %}

    <div>
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
