{%- set classes = html_classes(
    'py-8 md:py-16',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<section
    data-slot="section"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</section>
