{%- props size = 'default', -%}

{%- set classes = html_classes(
    'group/section',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<section
    data-slot="section"
    data-size="{{ size }}"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</section>
