{%- set classes = html_classes(
    'font-normal text-muted-foreground text-base',
    'group-data-[size=lg]/section:text-lg',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<p
    data-slot="section-description"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</p>
