{%- set classes = html_classes(
    'font-medium text-gray-700 text-3xl md:text-4xl mb-5',
    attributes.render('class')|default(''),
) -%}

{#- Template -#}

<h2
    data-slot="section-title"
    class="{{ classes|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</h2>
