<section {{ attributes.defaults({
    'data-slot': 'section',
    class: 'py-10 md:py-16',
}) }}>
    <div class="container max-w-screen-xl mx-auto px-4 md:px-8 lg:px-16">
        {% block content %}{% endblock %}
    </div>
</section>
